.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 4px 20px;
    transition-duration: 0.2s;
    cursor: pointer;
}

button.reset {
    background-color: white;
    color: black;
    border: 2px solid;
}

button.reset:hover {
    background-color: #f44336;
    color: white;
}

button.start {
    background-color: white;
    color: black;
    border: 2px solid;
}

button.start:hover {
    background-color: #008CBA;
    color: white;
}


button.target {
    background-color: white;
    color: black;
    border: 2px solid;
}

button.target:hover {
    background-color: #4CAF50;
    color: white;
}

button.dfs {
    background-color: white;
    color: black;
    border: 2px solid;
    font-size: 20px;
}

button.dfs:hover {
    background-color: #555555;
    color: white;
}


button.bfs {
    background-color: white;
    color: black;
    border: 2px solid;
    font-size: 20px;

}

button.bfs:hover {
    background-color: brown;
    color: white;
}

.button-container-pick {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 20%;
}

.button-container-search {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 20%;
}